<ion-content padding class='myModal'>
  <ion-grid>
    <ion-row>
      <ion-col text-center>
        Add new company
      </ion-col>
    </ion-row>
    
  </ion-grid>
  
  
  
  <ion-toolbar color="light" >
    <ion-segment color="dark" [(ngModel)]="companyTab">
      <ion-segment-button value="info" checked='true'>
        General info
      </ion-segment-button>
      <ion-segment-button value="location">
        Location
      </ion-segment-button>
      <ion-segment-button value="contact">
        Contact
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
  
  
  <form [formGroup]='company'>
    <div [ngSwitch]="companyTab">
      
      <!-- General info -->
      <div *ngSwitchCase="'info'" checked > 
        <ion-item class="ion-margin-top">
          <ion-label><strong>Name: </strong></ion-label>
          <ion-input  type='Text'  placeholder='Company Name' formControlName='name' ></ion-input>
        </ion-item>
        
        
        <ion-item class="ion-margin-top">
          <ion-label><strong>Code: </strong></ion-label>
          <ion-input  type='Text'  placeholder='Code' formControlName='code' ></ion-input>
        </ion-item>
        
        <ion-item class="ion-margin-top">
          <ion-label><strong>Website: </strong></ion-label>
          <ion-input  type='Text'  placeholder='Website'formControlName='website' ></ion-input>
        </ion-item>
        
        <ion-item class="ion-margin-top">
          <ion-label><strong>Tax Number: </strong></ion-label>
          <ion-input  type='Text'  placeholder='Tax number' formControlName='taxNumber' ></ion-input>
        </ion-item>
        
        
        <div >
          <ion-item class="ion-margin-top">
              <ion-label><strong>Category: </strong></ion-label>
            <ion-select [compareWith]="compareWith" placeholder="Categories" 
            multiple="true" formControlName="categories"> 
     
            <ion-select-option *ngFor="let category of categoriesList|async;" [value]="category">{{category.name}}</ion-select-option>
          </ion-select>
        </ion-item>
      </div>

     
      
    </div>
    <!-- End general info -->
    
    
    <!-- Location -->
    <div *ngSwitchCase="'location'" >
      
      <div formGroupName='address'>
        
        <div formGroupName='country'>
          <ion-item class="ion-margin-top">
            <ion-label><strong>Country: </strong></ion-label>
            <ion-input  type='Text'  placeholder='Country' formControlName='name' ></ion-input>
          </ion-item>
        </div>
        
        <div formGroupName='region'>
          <ion-item class="ion-margin-top">
            <ion-label><strong>Region: </strong></ion-label>
            <ion-input  type='Text'  placeholder='Region' formControlName='name'></ion-input>
          </ion-item>
        </div>
        
        <div formGroupName='city'>
          <ion-item class="ion-margin-top">
            <ion-label><strong>City: </strong></ion-label>
            <ion-input  type='Text'  placeholder='City' formControlName='name' ></ion-input>
          </ion-item>
        </div>
        
        <div formGroupName='zip'>
          <ion-item class="ion-margin-top">
            <ion-label><strong>Zip: </strong></ion-label>
            <ion-input  type='Text'  placeholder='Zip' formControlName='number' ></ion-input>
          </ion-item>
        </div>
        
        <ion-item class="ion-margin-top">
          <ion-label><strong>Street: </strong></ion-label>
          <ion-input  type='Text'  placeholder='Street' formControlName='street' ></ion-input>
        </ion-item>
      </div>
    </div>
    <!--End Location -->
    
    <!-- Contact -->
    <div *ngSwitchCase="'contact'">
      <ion-item class="ion-margin-top">
        <ion-label><strong>Telephone: </strong></ion-label>
        <ion-input  type='Text'  placeholder='Telephone number'  formControlName='telephone'></ion-input>
      </ion-item>

      <ion-item class="ion-margin-top">
        <ion-label><strong>Email: </strong></ion-label>
        <ion-input  type='Text'  placeholder='Email'  formControlName='email' ></ion-input>
      </ion-item>
    </div>
    <!-- End contact -->
    
    
  </div>
  
  
  <ion-row>
    <ion-col text-center>
      <ion-button  color="warning" (click)="closeModal()"> <ion-icon name="close-circle"> </ion-icon> </ion-button>
      <ion-button color="primary" (click)='addCompany()' ><ion-icon name="save"></ion-icon> </ion-button>
      
    </ion-col>
  </ion-row>
  
</form>
</ion-content>