<ion-content padding class='myModal'>
  <ion-grid>
    <ion-row>
      <ion-col text-center>
        Unternehmen anlegen
      </ion-col>
    </ion-row>
    
  </ion-grid>
  
  
  
  <ion-toolbar color="light" >
    <ion-segment color="dark" [(ngModel)]="companyTab">
      <ion-segment-button value="info" checked='true' mode='ios'>
        Information
      </ion-segment-button>
      <ion-segment-button value="location" mode='ios'>
        Standort
      </ion-segment-button>
      <ion-segment-button value="contact" mode='ios'>
        Kontakt
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
  
  
  <form [formGroup]='company'>
    <div [ngSwitch]="companyTab">
      
      <!-- General info -->
      <div *ngSwitchCase="'info'" checked > 
        <ion-item class="ion-margin-top">
          <ion-label><strong>Firma: </strong></ion-label>
          <ion-input  type='Text'  placeholder='Firma' formControlName='name'  required></ion-input>
        </ion-item>
        
        
        <ion-item class="ion-margin-top">
          <ion-label><strong>Match-Code: </strong></ion-label>
          <ion-input  type='Text'  placeholder='Match-Code' formControlName='code' ></ion-input>
        </ion-item>
        
        <ion-item class="ion-margin-top">
          <ion-label><strong>Website: </strong></ion-label>
          <ion-input  type='Text'  placeholder='Website'formControlName='website' ></ion-input>
        </ion-item>
        
        <ion-item class="ion-margin-top">
          <ion-label><strong>UID: </strong></ion-label>
          <ion-input  type='Text'  placeholder='UID' formControlName='taxNumber' ></ion-input>
        </ion-item>
        
        
        <div >
          <ion-item class="ion-margin-top">
              <ion-label><strong>Kategorie: </strong></ion-label>
            <ion-select [compareWith]="compareWith" placeholder="Auswahl" 
            multiple="true" formControlName="categories"> 
     
            <ion-select-option *ngFor="let category of categoriesList|async;" [value]="category">{{category.name}}</ion-select-option>
          </ion-select>
        </ion-item>
      </div>

     
      
    </div>
    <!-- End general info -->
    
    
    <!-- Location -->
    <div *ngSwitchCase="'location'" >
      
      <div formGroupName='address'>
        
        <div formGroupName='country'>
          <ion-item class="ion-margin-top">
            <ion-label><strong>Staat: </strong></ion-label>
            <ion-input  type='Text'  placeholder='Staat' formControlName='name' ></ion-input>
          </ion-item>
        </div>
        
        <div formGroupName='region'>
          <ion-item class="ion-margin-top">
            <ion-label><strong>Bundesland: </strong></ion-label>
            <ion-input  type='Text'  placeholder='Bundesland' formControlName='name'></ion-input>
          </ion-item>
        </div>
        
        <div formGroupName='city'>
          <ion-item class="ion-margin-top">
            <ion-label><strong>Ort: </strong></ion-label>
            <ion-input  type='Text'  placeholder='Ort' formControlName='name' ></ion-input>
          </ion-item>
        </div>
        
        <div formGroupName='zip'>
          <ion-item class="ion-margin-top">
            <ion-label><strong>PLZ: </strong></ion-label>
            <ion-input  type='Text'  placeholder='PLZ' formControlName='number' ></ion-input>
          </ion-item>
        </div>
        
        <ion-item class="ion-margin-top">
          <ion-label><strong>Strasse: </strong></ion-label>
          <ion-input  type='Text'  placeholder='Strasse' formControlName='street' ></ion-input>
        </ion-item>
      </div>
    </div>
    <!--End Location -->
    
    <!-- Contact -->
    <div *ngSwitchCase="'contact'">
      <ion-item class="ion-margin-top">
        <ion-label><strong>Telefon : </strong></ion-label>
        <ion-input  type='Text'  placeholder='Telefon-Nummer'  formControlName='telephone'></ion-input>
      </ion-item>

      <ion-item class="ion-margin-top">
        <ion-label><strong>E-Mail: </strong></ion-label>
        <ion-input  type='Text'  placeholder='E-Mail'  formControlName='email' ></ion-input>
      </ion-item>
    </div>
    <!-- End contact -->
    
    
  </div>

  
  <ion-row>
    <ion-col text-center>
      <ion-button  color="warning" (click)="closeModal()"> <ion-icon name="close-circle"> </ion-icon> </ion-button>
      <ion-button color="secondary" (click)='addCompany()' ><ion-icon name="save"></ion-icon> </ion-button>
      
    </ion-col>
  </ion-row>
  
</form>
</ion-content>