<ion-header>
    <ion-toolbar>
        <ion-title>SECURITY</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-img id="profile-photo" src="assets/logo.svg"></ion-img>
    <ion-row class="ion-margin-top">

    </ion-row>
    <form [formGroup]='reset'>
        <ion-item class="ion-margin-top">
            <ion-label>E-mail</ion-label>
            <ion-input required type="email" placeholder="E-mail" class="ion-padding" value='{{userEmail}}' [(ngModel)]='userEmail' formControlName='email' ></ion-input>
        </ion-item>
        <ion-item class="ion-margin-top">
            <ion-label>PIN</ion-label>
            <ion-input required type="password" placeholder="PIN" class="ion-padding" formControlName='securityPin' ></ion-input>
        </ion-item>
        
        
        
        <ion-radio-group>
            <ion-list-header>
                <ion-label>CONTENTShare Auswahl:</ion-label>
            </ion-list-header>

            
                <ion-item *ngFor="let server of servers, let i = index">
                    <ion-label>{{server.clientName}}</ion-label>
                    <ion-radio checked="{{i == 0}}" value="{{server.clientName}}"  (ionSelect)="checkServer(server.clientName)"></ion-radio>
                </ion-item>
   
            
            
        </ion-radio-group>
        
        <ion-row>
            <ion-col>
                <ion-button type="submit" (click)="resetPassword()" class="ion-padding " expand='block'>E-Mail senden</ion-button>
            </ion-col>
        </ion-row>
        
    </form>
    <ion-row class="ion-justify-content-center ion-margin-top">
        <ion-col size="8">
            <ion-text color="primary" routerLink="/login">Gehen Sie zum Einloggen</ion-text>
        </ion-col>
    </ion-row>
    
    <!-- <form [formGroup]="credentialsForm" (ngSubmit)="onSubmit()">
        
        <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input type="email" formControlName="username"></ion-input>
        </ion-item>
        
        <ion-item>
            <ion-label position="floating">Password</ion-label>
            <ion-input type="password" formControlName="password"></ion-input>
        </ion-item>
        
        <ion-button expand="full" type="submit" [disabled]="!credentialsForm.valid">Login</ion-button>
        
        
    </form> -->
</ion-content>
