<ion-header>
  <ion-toolbar>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button id="settings" fill="clear" routerLink="/settings"><ion-icon name="settings" color="dark"></ion-icon></ion-button>
  <div >
    <ion-img id="profile-photo" src="assets/logo.svg"></ion-img>
  </div>
  <div class="profile-info">
    <ion-input placeholder="First name"></ion-input>
    <ion-input placeholder="Last name"></ion-input>
    <ion-input placeholder="email" type="email"></ion-input>
  </div>
  <div class="btnsavep">
    <ion-label text-align="center"><b>Your personal info</b></ion-label>
  </div>
  <div class="profile-info">
    <ion-input placeholder="Phone"></ion-input>
    <ion-input placeholder="Company"></ion-input>
    <ion-input placeholder="Street"></ion-input>
    <ion-input placeholder="City"></ion-input>
    <ion-input placeholder="State"></ion-input>
    <ion-input placeholder="Zip code"></ion-input>
    <ion-input placeholder="Fax"></ion-input>
  </div>
  <div class="btnsavep">
    <ion-button color="success"><ion-icon name="save"></ion-icon></ion-button>
  </div>
</ion-content>
