#profile-photo{
    width: 25%;
    height: 25%;
    text-align: center;
}
#settings{
    float: right;
}
.profile{
    margin-left: 5%;
    margin-top: 5%;
}
#label-info{
    text-align: center;
    margin-top: 5%;
}
#btnsave{
    text-align: center;
    margin-top: 10%
}