<ion-header>
  <ion-toolbar>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button routerLink="/settings" id="settings" fill="clear"><ion-icon name="settings" color="dark"></ion-icon></ion-button>
  <ion-img ><ion-icon name="airplane"></ion-icon></ion-img>
  <ion-input placeholder="First name"></ion-input>
  <ion-input placeholder="Last name"></ion-input>
  <ion-input placeholder="email" type="email"></ion-input>
  <ion-label text-align="center">------Your personal info------</ion-label>
  <ion-input placeholder="Phone"></ion-input>
  <ion-input placeholder="Company"></ion-input>
  <ion-input placeholder="Street"></ion-input>
  <ion-input placeholder="City"></ion-input>
  <ion-input placeholder="State"></ion-input>
  <ion-input placeholder="Zip code"></ion-input>
  <ion-input placeholder="Fax"></ion-input>
  <ion-button>Save</ion-button>
</ion-content>
