<ion-header>
  <ion-toolbar>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-button id="settings" fill="clear" routerLink="/settings"><ion-icon name="settings" color="dark"></ion-icon></ion-button>
  <div >
    <ion-img id="profile-photo" src="assets/logo.svg"></ion-img>
  </div>
  <form [formGroup]='profileForm'>
    <div class="profile-info">
      <ion-item class="ion-margin-top">
        <ion-label><strong>First Name: </strong></ion-label>
        <ion-input placeholder="First name" value={{info?.firstName}} disabled class="ion-padding"></ion-input>
      </ion-item>
      <ion-item class="ion-margin-top">
        <ion-label><strong>Last Name: </strong></ion-label>
        <ion-input placeholder="Last name"  value={{info?.lastName}} disabled></ion-input>
      </ion-item>
      <ion-item class="ion-margin-top">
        <ion-label><strong>Email: </strong></ion-label>
        <ion-input placeholder="email" type="email"  value={{info?.email}} disabled></ion-input>
      </ion-item>
    </div>
    <div class="btnsavep">
      <ion-label text-align="center"><b>Your personal info</b></ion-label>
    </div>
    <div class="profile-info">
      <ion-item class="ion-margin-top">
        <ion-label><strong>Mobile: </strong></ion-label>
        <ion-input placeholder="Phone" value='{{info?.mobile}}'formControlName='mobile'></ion-input>
      </ion-item>
      <!-- <ion-input placeholder="Company"  value={{info.companyId}}></ion-input> -->
      <ion-item class="ion-margin-top">
        <ion-label><strong>Street: </strong></ion-label>
        <ion-input placeholder="Street"  value={{info?.street}} formControlName='street'></ion-input>
      </ion-item>
      
      <ion-item class="ion-margin-top">
        <ion-label><strong>City: </strong></ion-label>
        <ion-input placeholder="City"  value={{info?.city}} formControlName='city'></ion-input>
      </ion-item>
      
      <ion-item class="ion-margin-top">
        <ion-label><strong>Region: </strong></ion-label>
        <ion-input placeholder="Region"  value={{info?.region}} formControlName='region'></ion-input>
      </ion-item>
      <ion-item class="ion-margin-top">
        <ion-label><strong>Country: </strong></ion-label>
        <ion-input placeholder="Country"  value={{info?.country}} formControlName='country'></ion-input>
      </ion-item>
      <ion-item class="ion-margin-top">
        <ion-label><strong>Zip code: </strong></ion-label>
        <ion-input placeholder="Zip code"  value={{info?.zip}} formControlName='zip'></ion-input>
      </ion-item>
      <ion-item class="ion-margin-top">
        <ion-label><strong>Fax: </strong></ion-label>
        <ion-input placeholder="Fax"  value={{info?.fax}} formControlName='fax'></ion-input>
      </ion-item>
    </div>
    <div class="btnsavep">
      <ion-button color="primary" (click)="updateProfile()"><ion-icon name="save"></ion-icon></ion-button>
    </div>
  </form>
</ion-content>
