<ion-tabs>

  <ion-tab-bar slot="bottom">
    <!-- <ion-tab-button tab="tab1" class="tab-bar-color">
      <ion-icon name="home"></ion-icon>
      <ion-label >News</ion-label>
    </ion-tab-button> -->

    <ion-tab-button tab="tab2" class="tab-bar-color">
      <ion-icon name="clipboard"></ion-icon>
      <ion-label>Aufgaben</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3" class="tab-bar-color">
      <ion-icon name="business"></ion-icon>
      <ion-label>Unternehmen</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab4" class="tab-bar-color">
      <ion-icon name="contacts"></ion-icon>
      <ion-label>Kontakte</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab5" class="tab-bar-color">
      <ion-icon name="contact"></ion-icon>
      <ion-label>Profil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
