<ion-header>
  <ion-toolbar>
    <ion-title>
      Aufgaben
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
    refreshingSpinner="circles"
    refreshingText="erfrischend...">
  </ion-refresher-content>
</ion-refresher>
<ion-row>
  <ion-searchbar  class="search" side='start' [(ngModel)]="tsks" placeholder='Suche'></ion-searchbar> 
  <ion-icon  side='end' class="searchLogo" src="assets/logo.svg"></ion-icon>
</ion-row>
<!-- Default Segment -->
<!-- {{tasks?.items[0].title}} -->



<ion-segment [(ngModel)]="tasksTab" size='start'>
  <ion-segment-button value="myTasks">
    <ion-label>meine Aufgaben</ion-label>
    <ion-icon name="person"></ion-icon>
  </ion-segment-button>
  
  <ion-segment-button value="givenTasks">
    <ion-label>versendete Aufgabe</ion-label>
    <ion-icon name="people"></ion-icon>
  </ion-segment-button>
</ion-segment>


<div [ngSwitch]="tasksTab">
  
  <div *ngSwitchCase="'myTasks'" >
    <ion-list>
      
      
      <ion-item-sliding *ngFor="let myTask of myTasks?.items|search: tsks| sort: {property: column, order: order}">
      <!-- <ion-virtual-scroll [items]="myTasks?.items| search : tsks">
        <ion-item-sliding  *virtualItem="let myTask"> -->
          
          <ion-item *ngIf="myTask.status!=3" (click)='setTaskId(myTask?.id)'>
            <ion-title mode='md'>
              {{myTask?.title}}
            </ion-title>
          </ion-item>
          
          <ion-item-options side="end" >
            
            <ion-button ion-button  size='large' (click)='setTaskAsDone(myTask?.id, myTask?.title, myTask?.deadline)' class='sliderButtons'>
              <ion-icon name="checkbox"></ion-icon>
            </ion-button>
            
          </ion-item-options>   
        </ion-item-sliding> 
      <!-- </ion-virtual-scroll> -->
      
    </ion-list> 
  </div>
  
  
  
  <div *ngSwitchCase="'givenTasks'" >
    <ion-list>
      
      
      
      <!-- <ion-virtual-scroll [items]="givenTasks?.items| search : tsks">
        <ion-item-sliding *virtualItem="let givenTask"> -->
          <ion-item-sliding *ngFor="let givenTask of givenTasks?.items|search: tsks"> 
          <ion-item (click)='setTaskId(givenTask?.id)'>
            <ion-title mode='md'>
              {{givenTask?.title}}
            </ion-title>
          </ion-item>
          
          <ion-item-options side="end" >
            
            <ion-button ion-button  size='large' (click)='setTaskAsDone(givenTask?.id, givenTask?.title, givenTask?.deadline)' class='sliderButtons'>
              <ion-icon name="checkbox"></ion-icon>
            </ion-button>
            
          </ion-item-options>   
        </ion-item-sliding> 
      <!-- </ion-virtual-scroll> -->
      
    </ion-list> 
  </div>
</div>
<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button (click)="addTaskModal()">
    <ion-icon name="add" id="add" ></ion-icon>
  </ion-fab-button>
</ion-fab>

</ion-content>
