<ion-content padding class='myModal'>
  <ion-grid>
    <ion-row>
      <ion-col text-center>
        {{company?.name}}
      </ion-col>
    </ion-row>
    
  </ion-grid>
  
  
  
  <ion-toolbar color="light" >
    <ion-segment color="dark" >
      <ion-segment-button value="info" checked='true' (click)="showInfo()" mode='ios'>
        Information
      </ion-segment-button>
      <ion-segment-button value="location" (click)="showLocation()" mode='ios'>
        Standort
      </ion-segment-button>
      <ion-segment-button value="contact" (click)="showContact()" mode='ios'>
        Kontakt
      </ion-segment-button>
      <ion-segment-button value="notes" (click)="showNotes()" mode='ios'>
        Notizen
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
  
  
  <form [formGroup]='companyForm'>
    <div >
      
      <!-- General info -->
      <div [hidden]="!info == true" > 
        
        <ion-input value='{{company?.id}}' hidden formControlName='id'></ion-input>
        
        <ion-item class="ion-margin-top">
          <ion-label><strong>Firma: </strong></ion-label>
          <ion-input  type='Text'  placeholder='Firma' value='{{company?.name}}' formControlName='name' required></ion-input>
        </ion-item>
        
        <ion-item class="ion-margin-top">
          <ion-label><strong>Match-Code: </strong></ion-label>
          <ion-input  type='Text'  placeholder='Match-Code'  value='{{company?.code}}' formControlName='code'></ion-input>
        </ion-item>
        
        <ion-item class="ion-margin-top">
          <ion-label><strong>Website: </strong></ion-label>
          <ion-input  type='Text'  placeholder='Website'value='{{company?.website}}' formControlName='website'></ion-input>
        </ion-item>
        
        <ion-item class="ion-margin-top">
          <ion-label><strong>UID: </strong></ion-label>
          <ion-input  type='Text'  placeholder='UID'  value='{{company?.taxNumber}}' formControlName='taxNumber'></ion-input>
        </ion-item>
        
        <ion-item class="ion-margin-top">
          <ion-label><strong>aktuelle Auswahl: </strong></ion-label>
          <ion-list> 
            <div *ngFor="let companyCategory of company?.categories">
              {{companyCategory.name}}
            </div>
          </ion-list>
        </ion-item>
        
        <div >
          <ion-item class="ion-margin-top">
            <ion-label><strong>Kategorie: </strong></ion-label>
            <ion-select [compareWith]="compareWith" placeholder="Kategorie" 
            multiple="true" formControlName="categories" id="selectedCategories" [(ngModel)]='select' > 
            <ion-select-option *ngFor="let category of categoriesList|async;" aria-checked="true" [value]="category" >{{category.name}}</ion-select-option>
          </ion-select>
        </ion-item>
      </div>
      
    </div>
    <!-- End general info -->
    
    
    
    
    <!-- Location -->
    <div [hidden]="!location == true" >
      
      <div formGroupName='address'>
        
        <div formGroupName='country' >
          <ion-item class="ion-margin-top">
            <ion-label><strong>Staat: </strong></ion-label>
            <ion-input  type='Text'  placeholder='Staat' formControlName='name' value='{{company?.address.country?.name}}'></ion-input>
          </ion-item>
        </div>
        
        <div formGroupName='region'>
          <ion-item class="ion-margin-top">
            <ion-label><strong>Bundesland: </strong></ion-label>
            <ion-input  type='Text'  placeholder='Bundesland' formControlName='name' value='{{company?.address.region?.name}}'></ion-input>
          </ion-item>
        </div>
        
        <div formGroupName='city' >
          <ion-item class="ion-margin-top">
            <ion-label><strong>Ort: </strong></ion-label>
            <ion-input  type='Text'  placeholder='Ort' formControlName='name' value='{{company?.address.city?.name}}'></ion-input>
          </ion-item>
        </div>
        
        <div formGroupName='zip'>
          <ion-item class="ion-margin-top">
            <ion-label><strong>PLZ: </strong></ion-label>
            <ion-input  type='Text'  placeholder='PLZ' formControlName='number' value='{{company?.address.zip?.number}}'></ion-input>
          </ion-item>
        </div>
        <ion-item class="ion-margin-top">
          <ion-label><strong>Strasse: </strong></ion-label>
          <ion-input  type='Text'  placeholder='Strasse' formControlName='street' value='{{company?.address?.street}}'></ion-input>
        </ion-item>
      </div>
    </div>
    <!--End Location -->
    
    <!-- Contact -->
    <div [hidden]="!contact == true">
      <ion-item class="ion-margin-top">
        <ion-label><strong>Telefon: </strong></ion-label>
        <ion-input  type='Text'  placeholder='Telefon-Nummer'  formControlName='telephone' value='{{company?.telephone}}'></ion-input>
      </ion-item>
      <ion-item class="ion-margin-top">
        <ion-label><strong>E-Mail: </strong></ion-label>
        <ion-input  type='Text'  placeholder='E-Mail' formControlName='email' value='{{company?.email}}'></ion-input>
      </ion-item>
    </div>
    
    
    <div [hidden]="!noteList == true" >
      
      <ion-list>
        <ion-item-sliding  text-wrap *ngFor="let note of (notes|async)" class="noteFormat">
          
          
          <ion-label><strong>Notiz:</strong></ion-label>
          {{note.note.note1}}
          <br>
          <ion-label><strong>Datum:</strong></ion-label>
          {{note.note.createdOn}}
          <br>
          <ion-label><strong>Benutzer:</strong></ion-label>
          {{note.simpleUser.firstName}} {{note.simpleUser.lastName}}
          
          <ion-button ion-button color="warning" (click)='deleteNote(note.note.id)'  class='sliderButtons'>
            <ion-icon name="trash"></ion-icon>
          </ion-button>
          
        </ion-item-sliding>
        
      </ion-list>
    </div>
    <!-- End contact -->
    

    
  </div>
  
  
  <ion-row>
    <ion-col text-center>
      <ion-button color="warning" (click)="closeModal()"> <ion-icon name="close-circle"> </ion-icon> </ion-button>
      <ion-button color="secondary" (click)='updateCompany()' ><ion-icon name="save"></ion-icon> </ion-button>
      
    </ion-col>
  </ion-row>
  
</form>
</ion-content>