ion-segment-button{
    font-size: 10px;
    // color: var(--ion-color-medium);
    // border: 0px;
    // border-radius: 0px;
}
.noteFormat{
    
    border: solid 1px black;
    padding: 10px; 
    margin-bottom: 5px;
    border-radius: 15px; 
    margin-top: 5px;
}