

<ion-content padding class='myModal'>
  <ion-grid>
    <ion-row>
      <ion-col text-center>
        Add new note
      </ion-col>
    </ion-row>
    
  </ion-grid>
  <form >
    <ion-item>
      <ion-label class="titles">Title: </ion-label>
      
      <ion-input type="text" placeholder=" title" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label class="titles">Note: </ion-label>
      <ion-textarea  placeholder="note" ></ion-textarea>
    </ion-item>
    <ion-row>
      <ion-col text-center>
        <ion-button color="warning" (click)="closeModal()"> <ion-icon name="close-circle"> </ion-icon> </ion-button>
        <ion-button color="primary" ><ion-icon name="save"></ion-icon> </ion-button>
        
      </ion-col>
    </ion-row>
  </form>
  
</ion-content>