

.title{
    margin-top: 10px;
    border: 0.3px solid grey;
    padding: 8px;
    border-radius: 10px;
}
.myTextArea{
    margin-top: 10px;
    height: 100px;
    border: 0.3px solid grey;
    padding: 5px;
    border-radius: 10px;
}
