
<ion-content padding class='myModal'>
    <ion-grid>
        <ion-row>
            <ion-col text-center>
                Add new task
            </ion-col>
        </ion-row>
        
        <form [formGroup]="taskForm">
            <ion-row>
                <ion-col text-center>
                    <ion-label color="primary">Task Title</ion-label>
                    <ion-input  type='Text' formControlName="title"  placeholder='My new Task'></ion-input>
                </ion-col>
                
                
            </ion-row>
            <ion-row>
                
                <ion-col>
                    
                    <ion-label>Asigned User:</ion-label>
                    <ion-select placeholder="Asigned User" formControlName="assignedUserId"> 
                        <ion-select-option *ngFor="let user of simpleUsers|async;" [value]="user.id" (ionChange)="setUser(user.id)" [value]="user"> {{user.lastName}} {{user.firstName}}</ion-select-option>
                    </ion-select>
                    <ion-button size='small' color="primary">Me: <ion-checkbox checked id="meCheck" ></ion-checkbox></ion-button>
                    
                </ion-col>
            </ion-row>
            
            
            <ion-row>
                
                <ion-col>
                    
                    <ion-label>Client:</ion-label>
                    <ion-select  formControlName="clientId" placeholder="Client"> 
                        <ion-select-option *ngFor="let client of clients|async;" [value]="client.id" (ionChange)="setClient(client.id)">{{client.name}}</ion-select-option>
                    </ion-select>
                    
                    
                </ion-col>
            </ion-row>
            
            <!---->
            <ion-row>
                
                <ion-col>
                    
                    <ion-label>Description:</ion-label>
                    <ion-textarea formControlName="description" [(ngModel)]="description" placeholder='Enter a description'></ion-textarea>
                    
                </ion-col>
            </ion-row>
            <ion-input type='text' hidden  value="{{description}}" formControlName="descriptionHtml"></ion-input>
            
            
            <ion-row>
                
                <ion-col>
                    <ion-label>Document:</ion-label>
                    <ion-input  type='file'  ><ion-icon name="attach" size="large"></ion-icon></ion-input>
                    
                </ion-col>
            </ion-row>
            
            
            
            <div formGroupName="entityRelatedTo">     
                <ion-input type='text' hidden [(ngModel)]="entityId" formControlName="entityId"></ion-input>
                <ion-input  type='text'  hidden [(ngModel)]="entityType" formControlName="entityType"></ion-input>
            </div>
            
            <!---->
            
            
            <!-- <ion-row>
                <ion-toolbar color="light" >
                    <ion-segment color="dark" [(ngModel)]="taskTab">
                        <ion-segment-button value="description" checked='true'>
                            Description
                        </ion-segment-button>
                        <ion-segment-button value="file">
                            File
                        </ion-segment-button>
                    </ion-segment>
                </ion-toolbar>
            </ion-row>
            
            
            <div [ngSwitch]="taskTab">
                
                
                <div *ngSwitchCase="'description'" >
                    <ion-item >
                        <ion-label>Description:</ion-label>
                        <ion-textarea  placeholder='Enter a description'></ion-textarea>
                    </ion-item>
                </div>
                
                
                
                <div *ngSwitchCase="'file'" >
                    
                    
                    <ion-input  type='file'  ><ion-icon name="attach" size="large"></ion-icon></ion-input>
                    
                    
                </div>
            -->
            
            
            <!-- <ion-row  >
                <div >
                    <ion-item >
                        <ion-label>Asigned User:</ion-label>
                        <ion-select [compareWith]="compareWith" placeholder="Asigned User" style="width:100%;"> 
                            <ion-select-option *ngFor="let user of simpleUsers|async;" (ionChange)="setUser(user.id)">{{user.firstName}}</ion-select-option>
                        </ion-select>
                        <ion-button color="primary">Me: <ion-checkbox checked id="meCheck" ></ion-checkbox></ion-button>
                    </ion-item>
                    
                </div>        
                
            </ion-row> -->
            <div>
                
                
                <ion-item>
                    <ion-label>Deadline:</ion-label>
                    <ion-select required placeholder="Select a date" [(ngModel)]='select' [ngModelOptions]="{standalone: true}" (ionChange)="checkDate()" >
                        <ion-select-option value="immediately" >Immediately</ion-select-option>
                        <ion-select-option value="forYouInfomationforYouInfomation">For your infomation</ion-select-option>
                        <ion-select-option value="enableOn">On</ion-select-option>
                        <ion-select-option value="enableFrom">To</ion-select-option>
                        
                    </ion-select>
                    
                </ion-item>
                <div [hidden]="!showFrom == true">
                    <ion-label>From:</ion-label>
                    <ion-datetime displayFormat="MMM/DD/YYYY HH:mm" (ionChange)='setFrom()' placeholder="Pick a date" [(ngModel)]="fromDate" [ngModelOptions]="{standalone: true}"></ion-datetime>
                </div>
                <div [hidden]="!showTo == true">
                    <ion-label>To:</ion-label>
                    <ion-datetime displayFormat="MMM/DD/YYYY HH:mm" (ionChange)='setTo()' placeholder="Pick a date" [(ngModel)]="toDate" [ngModelOptions]="{standalone: true}"></ion-datetime>
                </div>
  
                
            </div>
            
            <!-- </div> -->
            
            
            <ion-row>
                <ion-col text-center>
                    <ion-button color="warning" (click)="closeModal()"> <ion-icon name="close-circle"> </ion-icon> </ion-button>
                    <ion-button color="secondary"  (click)="addTask()"><ion-icon name="save"></ion-icon> </ion-button>
                    
                </ion-col>
            </ion-row>
        </form>
    </ion-grid>
    
</ion-content>
