
<ion-content padding class='myModal'>
    <ion-grid>
        <ion-row>
            <ion-col text-center>
                Add new task
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col text-center>
                <ion-label color="primary">Task Title</ion-label>
                <ion-input  type='Text'  placeholder='My new Task'></ion-input>
            </ion-col>
            <ion-col text-center>
                <ion-label color="primary">Task Tag</ion-label>
                <ion-input  type='Text'  placeholder='#tag'></ion-input>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-toolbar color="light" >
                <ion-segment color="dark" [(ngModel)]="task">
                    <ion-segment-button value="description" checked='true'>
                        Description
                    </ion-segment-button>
                    <ion-segment-button value="file">
                        File
                    </ion-segment-button>
                    <ion-segment-button value="note">
                        Notes
                    </ion-segment-button>
                </ion-segment>
            </ion-toolbar>
        </ion-row>
        
        
        <div [ngSwitch]="task">
            
            <!-- General info -->
            <div *ngSwitchCase="'description'" >
                <ion-textarea class="noteTextArea" placeholder='Enter a description'></ion-textarea>
            </div>
            <!-- End general info -->
            
            <!-- Location -->
            <div *ngSwitchCase="'file'" >
                
                
                <ion-input  type='file'  ><ion-icon name="attach" size="large"></ion-icon></ion-input>
                
                
            </div>
            <!--End Location -->
            
            <!-- Contact -->
            <div *ngSwitchCase="'note'">
                <ion-input  type='Text' class="title" placeholder=' Title'></ion-input>
                <ion-textarea class="noteTextArea" placeholder='Enter here a note'></ion-textarea>
            </div>
            <!-- End contact -->
            
            <!-- <div *ngSwitchCase="'note'">
                <br>
                <ion-label class="titles">Title: </ion-label>
                <ion-input type="text" class="title" placeholder=" title" required></ion-input>
                
                <ion-label class="titles">Note: </ion-label>
                <ion-textarea class="myTextArea" clearOnEdit="true" placeholder='Write a note'></ion-textarea>
                
            </div> -->
            
            <div style="width:60%;">
              
               To: <ion-input   type='Text'  placeholder='ander'></ion-input>
            </div>
            <ion-button color="light" >Me: <ion-checkbox checked></ion-checkbox></ion-button>
            <div>
                <ion-label>Date:</ion-label>
                <ion-datetime display-format="MM/DD/YYYY" placeholder="Select date" style="width:60%">Date:</ion-datetime>
            </div>
            
        </div>
        
        
        <ion-row>
            <ion-col text-center>
                <ion-button color="danger" (click)="closeModal()"> <ion-icon name="close-circle"> </ion-icon> </ion-button>
                <ion-button color="success" ><ion-icon name="save"></ion-icon> </ion-button>
                
            </ion-col>
        </ion-row>
    </ion-grid>
    
</ion-content>
