<ion-header>
  <ion-toolbar>
    <ion-title>{{contact?.displayName}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <form [formGroup]='exportForm'>
    <div class="profile-info">
      <ion-item class="ion-margin-top">
        <ion-label class="labelsDark"><strong>Salutation: </strong></ion-label>
        <ion-select required placeholder="Select a salutation" [(ngModel)]="select" (ionChange)="checkSalutation()" >
          <ion-select-option value="herr" selected>Herr</ion-select-option>
          <ion-select-option value="frau">Frau</ion-select-option>
        </ion-select>
      </ion-item>
      
      <ion-item class="ion-margin-top" *ngIf="contact?.displayName!=null">
        <ion-label class="labelsDark"><strong>First Name*: </strong></ion-label>
        <ion-input value="{{contact?.displayName}}" [(ngModel)]="contact.displayName" formControlName='firstName'></ion-input>  
      </ion-item>
      
      <ion-item class="ion-margin-top" *ngIf="contact?.displayName==null">
        <ion-label class="labelsDark"><strong>First Name*: </strong></ion-label>
        <ion-input formControlName='firstName'></ion-input> 
      </ion-item>
      
      <ion-item class="ion-margin-top">
        <ion-label class="labelsDark"><strong>Last Name*: </strong></ion-label>
        <ion-input formControlName='lastName'></ion-input>
        
      </ion-item>
      
      <ion-item class="ion-margin-top" *ngIf="contact?.emails!=null">
        <ion-label><strong>Email*: </strong></ion-label>
        <ion-input value={{contact?.emails[0]?.value}} [(ngModel)]="contact.emails[0].value" formControlName='email'></ion-input>
      </ion-item>
      
      
      
      
      <ion-item class="ion-margin-top" *ngIf="contact?.emails==null">
        <ion-label><strong>Email*:</strong></ion-label>
        <ion-input formControlName='email'></ion-input>
      </ion-item>
      
      <div class="btnsavep">
        <ion-label text-align="center"><b>Personal info</b></ion-label>
      </div>
      
      
      
      <ion-item class="ion-margin-top" *ngIf="contact?.phoneNumbers!=null">
        <ion-label><strong>Mobile: </strong></ion-label>
        
        <ion-input value={{contact?.phoneNumbers[0]?.value}} [(ngModel)]="contact.phoneNumbers[0].value" formControlName='mobile'></ion-input>
        
      </ion-item>
      
      <ion-item class="ion-margin-top" *ngIf="contact?.phoneNumbers==null">
        <ion-label><strong>Mobile: </strong></ion-label>
        
        <ion-input  formControlName='mobile'></ion-input>
        
      </ion-item>
      
      <ion-item class="ion-margin-top" *ngIf="contact?.phoneNumbers!=null">
        <ion-label><strong>Telephone: </strong></ion-label>
        
        <ion-input value={{contact?.phoneNumbers[1]?.value}} [(ngModel)]="contact.phoneNumbers[1].value" formControlName='telephone'></ion-input>
        
        
      </ion-item>
      
      <ion-item class="ion-margin-top"  *ngIf="contact?.phoneNumbers==null">
        <ion-label><strong>Telephone: </strong></ion-label>
        
        <ion-input  formControlName='telephone'></ion-input>
        
        
      </ion-item>
      
      
      
      
      
      <ion-item class="ion-margin-top" *ngIf="contact?.addresses!=null">
        <div formGroupName='address'>
          
          
          <ion-label><strong>Address: </strong></ion-label>
          
          <ion-item>
            <ion-label><strong>Country: </strong></ion-label>
            <div formGroupName='country' >
              <ion-input value={{contact?.addresses[0]?.country}} [(ngModel)]="contact.addresses[0].country" formControlName='name'></ion-input>
            </div>
          </ion-item>
          
          <ion-item>
            <ion-label><strong>Region: </strong></ion-label>
            <div formGroupName='region' >
              <ion-input value={{contact?.addresses[0]?.region}} [(ngModel)]="contact.addresses[0].region" formControlName='name'></ion-input>
            </div>
          </ion-item>
          
          <ion-item>
            <ion-label><strong>City: </strong></ion-label>
            <div formGroupName='city' >
              
              <ion-input value={{contact?.addresses[0]?.locality}} [(ngModel)]="contact.addresses[0].locality" formControlName='name'></ion-input>
            </div>
          </ion-item>
          <ion-item>
            <ion-label><strong>Postal Code: </strong></ion-label>
            <div formGroupName='zip' >
              
              <ion-input value={{contact?.addresses[0]?.postalCode}} [(ngModel)]="contact.addresses[0].postalCode" formControlName='number'></ion-input>
            </div>
          </ion-item>
          <ion-item>
            <ion-label><strong>Street: </strong></ion-label>
            <ion-input value={{contact?.addresses[0]?.streetAddress}} [(ngModel)]="contact.addresses[0].streetAddress" formControlName='street'></ion-input>
          </ion-item>
          
        </div>
      </ion-item>
      
      
      
      
      <ion-item class="ion-margin-top" *ngIf="contact?.addresses==null">
        <div formGroupName='address'>
          
          
          <ion-label><strong>Address: </strong></ion-label>
          
          <ion-item>
            <ion-label><strong>Country: </strong></ion-label>
            <div formGroupName='country' >
              <ion-input  formControlName='name'></ion-input>
            </div>
          </ion-item>
          
          <ion-item>
            <ion-label><strong>Region: </strong></ion-label>
            <div formGroupName='region'> 
              <ion-input formControlName='name'></ion-input>
            </div>
          </ion-item>
          
          <ion-item>
            <ion-label><strong>City: </strong></ion-label>
            <div formGroupName='city'>
              <ion-input  formControlName='name'></ion-input>
            </div>
          </ion-item>
          
          
          <ion-item>
            <ion-label><strong>Zip Code: </strong></ion-label>
            <div formGroupName='zip' >
              <ion-input  formControlName='number'></ion-input>
            </div>
          </ion-item>

          <ion-item>
            <ion-label><strong>Street: </strong></ion-label>
            <ion-input formControlName='name'></ion-input>
          </ion-item>
          
        </div>
      </ion-item>
    </div>
    
    
    <div class="btnsavep">
      <ion-button color="secondary" (click)='exportContact()' [disabled]="!exportForm.valid"><ion-icon name="git-compare"></ion-icon></ion-button>
    </div>
  </form>
  
</ion-content>
