#nightmode{
    /*--handle-background: var(--ion-color-primary);
    --handle-background-checked: var(--ion-color-primary);
    --background-checked: var(--ion-color-danger);
    --background: var(--ion-color-danger);*/
}
#toggle-nightmode{
    
    margin-right: 15%;
}