<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button [routerLink]="['/tabs/tabs/tab5']" ></ion-back-button>
        </ion-buttons>
        <ion-title>Einstellungen</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-list>
        <ion-item>
            <ion-label>Nacht-Modus</ion-label>
            <ion-toggle [(ngModel)]="booleanFlag2" (ionChange)="myChange(booleanFlag2)" checked="booleanFlag2"></ion-toggle>
        </ion-item>
        <ion-item expand="full" (click)="logout()">Ausloggen</ion-item>
    </ion-list>
</ion-content>
